<div class="container-fluid">
<div class="row">
  <div class="col-lg-2 col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1">
        <img src="/assets/images/logo.png" class="img-responsive" alt="logo" style="width:100% height:100%">
  </div>
</div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-4">
    <div class="text-center hidden-sm hidden-xs hidden-md top-down nopadding " >
      <img src="/assets/images/lamp.png" class="img-responsive" alt="lamp" >
    </div>
  </div>
    <div class="col-lg-2 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3 nopadding">

            <div >
            <img class="mySlides img-responsive" src="/assets/images/iphone1.png" style="width:100%">
            <img class="mySlides img-responsive" src="/assets/images/iphone2.png" style="width:100%">
            <img class="mySlides img-responsive" src="/assets/images/iphone3.png" style="width:100%">
            </div>

          </div>
      <div class="col-lg-3 col-md-3 col-sm-4   col-xs-10 col-xs-offset-1 nopadding " >
        <div >

        <small >UNA NUEVA FORMA DEL ESTUDIO</small>
        <h4 >¿Tienes una idea? ¡Contáctanos!</h4>
        <p>▬</p>
        <p class="text-left text-small">
          Reto es una empresa de tecnología educativa comprometida con mejorar la calidad
          de la educación en México. Desde 2015, ofrecemos a estudiantes y profesionistas la mejor
           herramienta móvil de preparación para enfrentar exámenes de gran trascendencia. Cuando la
            más alta tecnología se suma a contenido académico estructurado con idoneidad pedagógica, el
            resultado es un incremento efectivo y rápido de las posibilidades de éxito.
        </p>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-warning btn-round" >Enviar Correo</button>
        

        </div>

        </div>
        <div class="col-lg-2">
          <div class=" hidden-sm hidden-xs hidden-md top-down nopadding" >
            <img src="/assets/images/books.png" class="img-responsive" alt="books" >
          </div>
        </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 divisor">

    </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">

      <div class="col-sm-4 enarm ">
        <h5 class="text-center text-marcas "><strong>RETO ENARM</strong> <br><br>
          <a type="button" class="btn btn-pags " href="http://retoenarm.com/#/" target="_blank">visitar sitio</a>
        </h5>

      </div>

      <div class="col-sm-4 proyectos">
        <br>
        <h5 class="text-center text-small"><strong>- NUEVOS PROYECTOS EN PROCESO -</strong></h5>

      </div>
      <div class="col-sm-4 unam">
        <h5 class="text-center"><strong>RETO UNAM</strong>
          <br><br>
          <a type="button" class="btn btn-pags text-center"  href="http://retounam.com/#/" target="_blank">visitar sitio</a>
        </h5>
      </div>
  </div>
  </div>
<div class="container-fluid ">
  <div class="row  footer-info">

    <div class="col-lg-4 top-buffer nopadding">
      <h5 class="text-center"><strong><a href="mailto:hola@mellow.cc">hola@mellow.cc</a></strong>
        <br>
          <a class="text-center" href="https://goo.gl/maps/GQtPQau3rLD2" target="_blank" >Francisco Márquez 146, Condesa, 06140 Ciudad de México, D.F.</a>
      </h5>
    </div>
    <div class=" col-lg-4 col-xs-8 col-xs-offset-2 top-buffer nopadding ">
      <h5 class="text-center">
      <a class="text-center" href="/assets/AvisodePrivacidadReto.pdf" target="_blank"><strong>Aviso de privacidad</strong></a>
      <br>
      <a class="text-center"  href="/assets/TerminosReto.pdf" target="_blank">Terminos y Condiciones</a>
    </h5>
    </div>

        <div class="col-lg-3  col-xs-8 col-xs-offset-2 top-buffer nopadding ">
            <h5 class="text-center">
                <a  href="http://mellow.cc/" target="_blank"><strong>A Mellow C&C Company // mellow.cc</strong></a>
                </h5>
        </div>
      <div class="col-lg-1  col-xs-2 col-xs-offset-5 text-center  top-buffer nopadding ">
        <img src="/assets/images/mellow.png"  alt="logo" width="40" height="40">

      </div>



  </div>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 6000);
}
</script>
