@media (min-width: 1200px) {
  .nopadding{
  margin-left: 0px;
  padding-left: 0px;
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .nopadding{
  margin-left: 0px;
  padding-left: 0px;
  }
 }
 /* Extra Small */
@media(max-width:767px){
  .nopadding{
    align-content: center;

  }
}

/* Small */
@media(min-width:480px){
  .nopadding{
  align-content: center;
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.body{
  font-family: 'Lato', sans-serif;
  background-image: url('/assets/images/fondo.png');
  color: white;

}
.landing{

background-image: url('/assets/images/elementos_ilustracion.png');
background-position: center;
background-size:  cover;;
}

.central-text{
  text-align: justify;
}

.header{
  font-size: 5.0em;
}
.links{
 margin-top:5px;
}

.text-small{
  font-size: 0.875em;
}
.top-buffer {
   margin-top: 10px;
 }
 .top-buffer-full {
    margin-top: 30px;
  }
.top-down{
  margin-bottom: 0px;
}
.btn-round{
border-radius: 20px;
background-color: inherit;
border-color: white;
margin-bottom: 10px;
width: 100%;
}
.btn-round:hover{
border-radius: 20px;


}
.text-marcas{
  margin-bottom: 5px;
}
.btn-pags{
  border-radius: 17px;
    widht: 40%;
  background-color: #6B83AB;
  color: white;
}
.btn-pags:hover{
  border-color: white;
  background-color: inherit;
  color: white;
}
.enarm{
  padding-top:3px;
height: 90px;
background-color: #A5B6D7;

}
.proyectos{
  padding-top:3px;
height: 90px;
background-color:#577BBD;
}
.unam{
  padding-top:3px;
height: 90px;
background-color:#313E5E;
}
.divisor{
height: 15px;
background-color:white;
margin-top: 0px;
}
.footer-info{
font-size: 6px;
color:#001a66;
background-color: #cccccc;
}
.tocenter {
  margin:auto auto;
  }
  .modal-style{
    background-color: #ff8c1a;
    color: white;
  }

  .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: auto;
    margin: inherit;
    background-color: inherit;
}
